$shadow: 0 0 50px 0 rgba(82, 63, 105, 0.15);
$shadow-light: 0 0 8px 0 rgba(82, 63, 105, 0.15);
$shadow-crd: 0 10px 6px rgba(82, 63, 105, 0.15);
$anim-color: color 0.3s ease-in-out;
$anim-bg: background-color 0.3s ease-in-out;
$raduis-xs: 5px;
$raduis-sm: 8px;
$radius: 10px;
$radius-x2: 20px;
$radius-x3: 30px;
$radius-x5: 50px;
$radius-x8: 80px;
$radius-btn: 15px;

// Margin

$space-xxxs: 0.125rem;
$space-xxs: 0.25rem;
$space-xs: 0.5rem;
$space-s: 0.75rem;
$space-sm: 1rem;
$space-md: 1.5rem;
$space-sm-x2: 2rem;
$space-lg: 2.5rem;
$space-xl: 3rem;
$space-xxl: 4rem;
$space-input: 0.475rem;

// size icon

$icon-xxs: 0.625rem;
$icon-xs: 0.875rem;
$icon-sm: 1rem;
$icon-sm-2: 1.25rem;
$icon-md: 1.5rem;
$icon-md-2: 1.75rem;
$icon-sm-wrapper: 2.25rem;
$icon-xl: 3rem;
$icon-xxl: 4rem;

// front-size

$ftsz-mini: 0.688rem;
$ftsz-xxs: 0.75rem;
$ftsz-xs: 0.85rem;
$ftsz-sm: 0.875rem;
$ftsz-s: 1.5rem;
$ftsz-md: 2rem;
